<div>
  <div id="customers_header">
    <span class="name">Name:</span>
    <span class="age">Age:</span>
  </div>

  <fieldset class="legend">
    <legend>Legend</legend>
    <ul>
      <li class="week">Week</li>
      <li class="month">Month</li>
      <li class="quarter">Quarter</li>
      <li class="year">Year</li>
      <li class="old">Old</li>
    </ul>
  </fieldset>

  <ul class="customers">
    <% @data.each do |cust| %>
      <% if cust.age == "week" %>
        <li class="week">
      <% elsif cust.age == "month" %>
        <li class="month">
      <% elsif cust.age == "quarter" %>
        <li class="quarter">
      <% elsif cust.age == "year" %>
        <li class="year">
      <% else cust.age == "old" %>
        <li class="old">
      <% end %>
        <div>
          <h2><%= cust.name %></h2>
          <div class="dropdown right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Backups <b class="caret"></b>
            </a>
            <ul class="backups dropdown-menu <%= cust.age %>">
              <% cust.contents.each do |backup| %>
                <li><%= backup.name %></li>
              <% end %>
            </ul>
          </div>
          <span class="right"><%= cust.newest.to_date.strftime("%m-%d-%Y") %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>