@import "bootstrap-sprockets";
@import "bootstrap";

$amcBlue: hsl(219, 59%, 36%);
$lighterGray : #EAEAEA;
$week: lighten(#22CC22, 25%);
$month: lighten(#93CC22, 25%);
$quarter: lighten(#CCCC22, 25%);
$year: lighten(#CC7722, 25%);
$old: lighten(#CC2222, 25%);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/******************************************************************************/
/* General
/******************************************************************************/
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar-user {
  color: $lighterGray;
  margin-top: 15px;
  margin-right: 15px;
  background-color: #AAAAAA;
}

.main {
  margin: 1.5em auto auto auto;
}

.right {
  float: right;
}

/******************************************************************************/
/* Typography
/******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: scale-color($amcBlue, $lightness: 50%);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}


/******************************************************************************/
/* Header
/******************************************************************************/
.navbar-nav li a {
  line-height: 3em;
}


/******************************************************************************/
/* Footer
/******************************************************************************/
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $lighterGray;
  color: #777777;
}

footer a {
  color: #555555;
}

footer a:hover {
  color: #222222;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/******************************************************************************/
/* Micellaneous
/******************************************************************************/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/******************************************************************************/
/* Sidebar
/******************************************************************************/
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0px;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/******************************************************************************/
/* Forms
/******************************************************************************/
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #BBBBBB;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0px 0px 30px 0px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0px;
}


/******************************************************************************/
/* Users
/******************************************************************************/
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $lighterGray;
  }
}


/******************************************************************************/
/* Customers
/******************************************************************************/
#customers_header {
  height: 2em;
  font-weight: bold;
  font-size: 1.75em;
  margin: 0em 19em -0.5em 2.5em;

  .name {
    float: left;
    text-decoration: underline;
    cursor: pointer;
  }
  .age {
    float: right;
    text-decoration: underline;
    cursor: pointer;
  }
}

.customers {
  list-style-type: none;

  .week {
    background-color: $week;
  }
  .month {
    background-color: $month;
  }
  .quarter {
    background-color: $quarter;
  }
  .year {
    background-color: $year;
  }
  .old {
    background-color: $old;
  }

  li {
    border-radius: 0.45em;
    padding: 0.15em;
    margin: 0.25em;

    .dropdown {
      width: 40%;
      text-align: right;
      margin: auto 0.15em auto 0.15em;

      a {
        color: #000000;
      }

      ul {
        padding: 0.5em;
        width: 100%;
        border-style: solid;
        border-color: #444444;
        border-width: 0.25em;

        li {
          color: #000000;
          text-align: right;
        }
      }

    }

    h2 {
      font-size: 1.5em;
      color: #000000;
      padding: 0em 0em 0em 1.5em;
      margin: 0.15em;
      text-align: left;
      line-height: 1.5em;
      height: 1.5em;
      display: inline-block;
    }
  }
}

.legend {
  float: left;
  margin: 0.25em 0em 0em -3.5em;
  padding: 0em;
  border-style: solid;
  border-color: #333333;
  border-width: 0.15em;
  background-color: #777777;
  border-radius: 0.5em;

  legend {
    background-color: #FFFFFF;
    padding: 0em 0.25em 0em 0.25em;
  }

  ul {
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    float: left;

    .week {
      background-color: $week;
    }
    .month {
      background-color: $month;
    }
    .quarter {
      background-color: $quarter;
    }
    .year {
      background-color: $year;
    }
    .old {
      background-color: $old;
    }

    li {
      border-radius: 0.45em;
      padding: 0.25em;
      margin: 0.25em;
    }
  }
}