  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "AMC :: STB Dashboard", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to "ACB Calculator", "/acb.html", :target => "_blank" %></li>
            <% if current_user.dropbox_session %>
              <li><%= link_to "Dropbox", dropbox_path %></li>
            <% else %>
              <li><%= link_to "Link Dropbox", dropbox_path %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "Users", users_path %></li>
                <% if current_user.dropbox_session %>
                  <li><%= link_to "Unlink Dropbox", dropbox_deauthorize_path %></li>
                <% end %>
                <% if current_user.admin? %>
                  <li><%= link_to "New user", new_user_path %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>